#carousel-wrapper>.carousel-inner {
  max-height: 400px;
}

#carousel-wrapper>.carousel-inner img {
  width: 100%;
}

.footer {
  background:teal;
  color: pink;
  padding: 25px;
  font-size: 1.5em;
}

.cat-land {
  background: teal;
  color: white !important;
  font: 

}
.card {
  background:white;
  color: teal;
}